{% extends 'base.html' %}

{% block title %} Add Field {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <br>
                <div class="card">
                    <div class="card-footer">
                        <h3 class="text-center"> Add Field </h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success"> Add a new field</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>


{% endblock %}