{% extends 'base.html' %}

{% block title %} Delete - {{ field.name }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h5> Delete - {{ field.name }}</h5>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center"> Are you sure you want to delete this field?</h4>
                    </div>
                    <div class="card-footer text-center">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">YES</button>
                            <a href="{% url 'list_of_fields' %}" class="btn btn-secondary">NO</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}