{% extends 'base.html' %}

{% block title %} List of trainers {% endblock %}

{% block content %}
    <div class="container-fluid"><br>
    <div class="row">
    {% for field in all_fields %}
        <div class="col">
        <div class="card-group">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">{{ field.name }}</h5>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Options
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'update_field' field.id %}">Update</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_field' field.id %}">Delete</a></li>
                    </ul>
                </div>

            </div>
        </div>
        </div>
        </div>
    {% endfor %}
</div>
    </div>

{% endblock %}