{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Veti primi un mesaj pe adresa de email</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}