{% extends 'base.html' %}
{% block title %} Reset Password{% endblock %}
{% block content %}+
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Parola a fost resetata cu succes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}