<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Soccer Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'add_field' %}">Add Field</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'list_of_fields' %}">Fields</a>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <div class="btn-group dropstart">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            My profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'password_change' %}" class="dropdown-item">Change Password </a></li>
                            <li><a href="{% url 'logout' %}"
                                   class="dropdown-item">Logout, {{ request.user.username }} </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
                    <a href="{% url 'create_user' %}" class="btn btn-success">Inregistrare</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>